body {
    background-color: #212529;
    overflow: hidden;
}

h1, p {
    top: 30px;
    left: 60px;
    position: relative;
    font-weight: bold;
}

h1, h2, a, p {
    color: #FFF;
    font-family: Georgia;
}

h2 {
    position: absolute;
    right: 30px;
    top: 100px;
}

ul {
    list-style-type: none;
    margin: -8px;
    overflow: hidden;
    background-color: #212529;
}

li {
    display: inline;
    float: left;
    border: 10px;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 20px;
}

    a:hover {
        background-color: #A04343;
    }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #666;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

iframe {
    background: #FFF;
    background-color: #FFF;
}

#outputFile, #weather, #spotify {
    border: 1px solid #FFF;
}

#outputFile {
    width: 780px;
    height: 300px;
    position: absolute;
    right: 30px;
    top: 150px;
}

#weather {
    bottom: 30px;
    right: 30px;
    position: absolute;
    height: 390px;
    width: 780px;
}

#spotify {
    position: absolute;
    border-radius: 12px;
    left: 60px;
    bottom: 30px;
    width: 30%;
    height: 152px;
    allowfullscreen: "";
    allow: autoplay;
    clipboard-write;
    encrypted-media;
    fullscreen;
    picture-in-picture;
    loading: lazy;
}